@import url("https://fonts.googleapis.com/css2?family=Inter&family=Saira+Condensed:wght@500&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
li {
  list-style: none;
}
p {
  font-size: 0.8rem;
}
body {
  min-height: 100vh;
  background: rgb(29, 29, 29);
  color: rgb(250, 250, 250);
}
nav {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px 20px;
}
nav ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.header {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 30px auto;
  align-items: center;
}
h1 {
  font-size: 5rem;
}
.header-left-container h3 {
  color: #474dff;
  font-size: 1.8rem;
}
.header-right {
  width: 50%;
}
#modem {
  width: 100%;
  margin: 0 auto;
}
.infos {
  display: grid;
  grid-template-columns: 33% 67%;
  background: rgb(10, 10, 10);
  border-radius: 10px;
}
.btn-container {
}
button {
  border: none;
  background: #474dff;
  color: white;
  width: 150px;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px;
  display: block;
}
.investors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86%;
}
.img-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.img-container img {
  height: 60px;
}

/***************** media queries ********************/

@media screen and (max-width: 1000px) {
  .header-left-container h1 {
    font-size: 3rem;
  }
  .header-left-container h3 {
    font-size: 1.2rem;
  }
  .header-left-container p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 590px) {
  nav {
    grid-template-columns: 40% 60%;
  }
  nav ul {
    font-size: 0.7rem;
  }
  .header {
    display: block;
  }
  .header-left-container h1 {
    font-size: 2.5rem;
  }
  .header-left-container h3 {
    font-size: 1rem;
  }
  .header-left-container p {
    font-size: 0.7rem;
  }
  #modem {
    width: 60%;
    display: flex;
  }
  .infos {
    display: flex;
    flex-direction: column;
  }
  .infos-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-container {
    display: flex;
    flex-direction: column;
  }
  button {
    margin: 3px auto;
  }
  .infos-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .investors {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .investors img {
    height: 40px;
  }
}
